#
# Copyright (c) 2025 Portland State Aerospace Society
#
# SPDX-License-Identifier: Apache-2.0
#

# TODO [ ] Give all ERS firmware modules a Zephyr log config reference here:

module = ADC
module-str = ADC module
source "subsys/logging/Kconfig.template.log_config"

module = ARBITER
module-str = arbiter module
source "subsys/logging/Kconfig.template.log_config"

# module = ERS_ADC
# module-str = ADC module
# source "subsys/logging/Kconfig.template.log_config"

module = ERS_MOTOR_CONTROL
module-str = motor control module
source "subsys/logging/Kconfig.template.log_config"

# Following Kconfig inclusion needed to support Zephyr logging template macros
source "Kconfig.zephyr"
# rsource "Kconfig.zephyr"

# ERS application specific
rsource "Kconfig.can"
